body {
  background: papayawhip;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

audio {
  border: solid black;
  border-radius: 50px;
}

footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.selector {
  display: inline;
  padding: 0.5rem;
}
/* @media (min-width: 600px) {
  .sec1 {
    position: absolute;
    left: 5px;
    top: 0px;
  }

  .sec2 {
    position: absolute;
    left: 550px;
    top: 0px;
  }
} */

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: grey;
  }
  footer {
    background-color: lightgray;
  }
}
